<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %white([%thread]) %cyan(%logger{36}) - %magenta(%msg) %n%red(%ex){full}</pattern>
        </encoder>
    </appender>

    <logger name="ru.itmo.se.is" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.hibernate" level="OFF"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
